name: generate animation

on:
  # Executa automaticamente a cada 24 horas
  schedule:
    - cron: "0 */24 * * *" 
  
  # Permite rodar manualmente a qualquer momento
  workflow_dispatch:
  
  # Executa a cada push na branch main
  push:
    branches:
    - main

jobs:
  generate:
    permissions: 
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    
    steps:
      # Gera a animação com cores personalizadas (Estilo IAArena)
      - name: generate github-contribution-grid-snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            # Cores para o modo claro (agora personalizadas também)
            dist/github-contribution-grid-snake.svg?color_snake=#74aa9c&color_dots=#161b22,#392b5b,#5a3e91,#7c52c6,#9d66ff
            
            # Cores para o modo escuro
            dist/github-contribution-grid-snake-dark.svg?color_snake=#74aa9c&color_dots=#161b22,#392b5b,#5a3e91,#7c52c6,#9d66ff
        
      # Faz o push dos arquivos gerados para a branch 'output'
      - name: push github-contribution-grid-snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
